<div class="cart-container" [style]="{'min-height': '80vh', 'margin-top': '80px'}">
  <div class="container mt-4">
    <h1 class="text-center mb-4">Historial de Pedidos</h1>
    <div class="card shadow-sm">
      <div class="card-body">
        <table class="table table-hover table-bordered">
          <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Cliente</th>
            <th>Estado</th>
            <th>Fecha de Creación</th>
            <th>Total</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let orden of ordenes; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ orden.cliente?.nombre || 'N/A' }}</td>
            <td>
                <span class="badge" [ngClass]="{
                  'bg-success': orden.estado === 'Completado',
                  'bg-warning': orden.estado === 'Pendiente',
                  'bg-danger': orden.estado === 'Cancelado'
                }">
                  {{ orden.estado }}
                </span>
            </td>
            <td>{{ orden.fechaCreacion | date: 'dd/MM/yyyy' }}</td>
            <td>{{ orden.total | currency: 'USD' }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
