<div class="cart-container" [style]="{'min-height': '80vh', 'margin-top': '80px'}">
  <div class="container mt-4">
    <h1 class="text-center mb-4">Historial de Pedidos</h1>
    <div class="card shadow-sm">
      <div class="card-body">
        <table class="table table-hover table-bordered">
          <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Producto</th>
            <th>Estado</th>
            <th>Fecha de Creación</th>
            <th>Total</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let producto of productos; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{  producto.nombre || 'N/A' }}</td>
            <td>
                <span class="badge" [ngClass]="{
                  'bg-success': producto.estado === 'COMPLETADO',
                  'bg-warning': producto.estado === 'PENDIENTE',
                  'bg-danger': producto.estado === 'CANCELADO'
                }">
                  {{ ordenes[producto.orden || 0].estado }}
                </span>
            </td>
            <td>{{ producto.fechaCreacion | date: 'dd/MM/yyyy' }}</td>
            <td>{{ producto.precio | currency: 'USD' }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
|
